[MAIN]
persistent = no

[MESSAGES CONTROL]
disable =
    broad-exception-caught,
    consider-using-from-import,
    duplicate-code,
    import-outside-toplevel,
    invalid-name,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-many-arguments,
    too-many-branches,
    too-many-locals,
    too-many-positional-arguments,
    too-many-return-statements,
    too-many-statements,
    wrong-import-order,
    wrong-import-position

[FORMAT]
max-line-length = 140

